* {
    font-family: 'Roboto', sans-serif;
}



body {
    background-color: #9b59b6;
}

p {
    font-size: 20px;
    color: white;
    margin-top: 25px;
    text-align: center;
}

h1 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 165px;
}

input {
    width: 342px;
    height: 74px;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 17px;
    padding-left: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: black;
    width: 342px;
    height: 74px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:active {
    opacity: 0.6;
}

a {
    margin-top: 140px;
    display: block;
    text-align: center;
    color: white;
    cursor: pointer;
}